---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Faq from "@components/faq.astro";
import Hero from "@components/hero.astro";
import Newsletter from "@components/newsletter.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";

changeLanguage("en");
---

<Layout title="Stewardship Ventures - About">
	<Container>
		<Sectionhead>
			<Fragment slot="title">About</Fragment>
			<Fragment slot="desc">Your unfair advantage.</Fragment>
		</Sectionhead>

		<!-- ABOUT -->
		<div class="mx-auto prose prose-xl text-center dark:prose-invert mt-14">
			<p>
				Our goal is to work with non-technical businesses to embrace software as part of their business model to drive innovation and profit.
				We provide instant access to a seasoned Product & Engineering leader that can steward your product vision to life. We're looking for
				entrepreneurs with successful companies, brands, or communities who are excited to discover how software can enhance their business
				models.
			</p>
		</div>
		<!-- VALUES -->
		<div class="mx-auto prose prose-lg dark:prose-invert mt-24">
			<p class="text-4xl font-bold tracking-tight text-black text-center dark:text-gray-200 sm:text-4xl">Philosophy</p>
			<div class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2 text-center">
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Stewardship</p>
						<p class="text-sm">
							Embrace a straightforward and simple business model. Nurture healthy profit, successful operations, and a high-quality
							team, fostering ventures that stand the test of time.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">No Assholes Policy</p>
						<p class="text-sm">
							Cultivate a culture that values respect, openness, and collaboration. Reject negativity and protect the essence of a team
							that works harmoniously towards shared goals. Do good.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Obligation to Independence</p>
						<p class="text-sm">
							We feel a moral obligation to exercise our independence from debtors. Embrace the freedom to try unconventional ideas,
							take risks, and innovate without external pressures.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Innovation Beyond Permission</p>
						<p class="text-sm">
							Take risks that others might shy away from. Fearlessly pursue the original and unexplored, driven by a commitment to
							pushing boundaries and discovering untapped potentials.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Small Team, Big Impact</p>
						<p class="text-sm">
							Acknowledge the power of small teams. Believe in the effectiveness of focused and dedicated individuals working
							collaboratively to achieve remarkable results.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Planning as Exploration</p>
						<p class="text-sm">
							Reject the illusion of detailed long-term planning. Acknowledge that planning is guessing, with a focus on near-term plans
							for increased accuracy and adaptability.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Decision Simplicity</p>
						<p class="text-sm">
							Embrace the power of 'No' as a focused rejection and 'Yes' as a commitment to purpose. Simplify decision-making,
							understanding that clarity and precision drive success.
						</p>
					</div>
				</section>
				<section class="dark:text-gray-200 text-gray-800 p-2">
					<div class="container mx-auto">
						<p class="text-lg font-semibold">Bury the Hustle</p>
						<p class="text-sm">
							Disregard the glorification of hustle culture. Prioritize meaningful, purposeful work over unnecessary busyness, fostering
							an environment that values quality over quantity.
						</p>
					</div>
				</section>
			</div>
		</div>
	</Container>
</Layout>
