---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Faq from "@components/faq.astro";
import Hero from "@components/hero.astro";
import Newsletter from "@components/newsletter.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";

changeLanguage("en");
---

<Layout title="Stewardship Ventures - About">
	<Container>
		<Sectionhead>
			<Fragment slot="title">About</Fragment>
			<Fragment slot="desc">The sustainable way to build software.</Fragment>
		</Sectionhead>
		<div class="mx-auto prose prose-md text-center dark:prose-invert mt-14">
			<p>
				We team up with entrepreneurs who've got a solid understanding of their customers. We're all about taking that next step of growth —
				adding a bespoke software asset to your existing business model. With your product vision, and our technical expertise, we partner to
				bootstrap a profitable product-led software product. The result? A stewardship first model that scales your business impact and
				growth.
			</p>
			<p class="text-3xl font-bold tracking-tight text-black dark:text-white sm:text-4xl">Our Philosophy</p>
			<p class="text-3xl font-bold tracking-tight text-black dark:text-white sm:text-4xl">The Process</p>
		</div>
		<div class="flex flex-col items-center mx-auto gap-8 my-20">
			<div class="bg-white dark:bg-stone-950 dark:border-gray-800 max-w-xl rounded-lg overflow-hidden shadow-lg border-2 p-6">
				<div class="flex gap-4">
					<img src="images/jayden.jpeg" alt="Profile Picture" class="w-20 h-20 rounded-lg" />
					<div class="flex flex-col">
						<h2 class="text-gray-600 dark:text-gray-200 prose-lg font-bold">Jayden Harrod</h2>
						<p class="text-gray-600 dark:text-gray-200 prose-sm font-semi-bold">Stewardship Ventures</p>
						<p class="text-gray-600 dark:text-gray-200 prose-sm font-light">Director & CTO</p>
					</div>
				</div>
				<hr class="mt-6 border-gray-800" />
				<p class="text-gray-600 dark:text-gray-200 prose-sm pt-4">
					Over a decade of experience in creating digital assets. A multifaceted background in marketing, operations, product, and
					engineering combines technical skills with a creative strategic business mindset.
				</p>
			</div>
		</div>
	</Container>
</Layout>
