---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingPlan from "@components/pricing.astro";

changeLanguage("en");
---

<Layout title="Stewardship Ventures - Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Coaching</Fragment>
			<Fragment slot="subtitle">For Software Founders</Fragment>
		</Sectionhead>
		<div class="relative mx-auto max-w-4xl">
			<div class="mx-auto prose prose-xl text-center dark:prose-invert mt-14">
				<p>
					We help non-technical <span class="underline">software founders</span> gain the discernment to execute a successful product &
					engineering operation. Own your product outcomes!
				</p>
			</div>

			<section id="greenfield" class="text-center mt-20 ring dark:ring-neutral-950 dark:bg-neutral-900 dark:text-gray-300 p-10 rounded-xl">
				<div class="mx-auto max-w-2xl text-center">
					<p class="text-3xl mb-10 font-bold tracking-tight sm:text-4xl">Topics</p>
					<ul class="mt-6 flex gap-4 flex-col text-lg leading-8">
						<li>Systematically building a product & engineering company.</li>
						<li>Choosing the right tools & operational processes.</li>
						<li>Tech stack architecture and system design.</li>
						<li>Dealing with day-to-day project bottlenecks.</li>
						<li>Moving to an in-house software development team.</li>
						<li>Launching your SaaS product to the public.</li>
						<li>Engaging and retaining your software users.</li>
						<li>Scaling operations, distributed, remote, global.</li>
					</ul>
				</div>
			</section>
		</div>
	</Container>
</Layout>
