---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

changeLanguage("en");
---

<Layout title="Stewardship Ventures - Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Contact</Fragment>
			<Fragment slot="desc">A partnership starts today.</Fragment>
		</Sectionhead>

		<div class="mt-16">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="flex flex-col items-center gap-8 mb-8">
					<div class="max-w-lg p-6 border border-gray-200 rounded-lg shadow dark:bg-neutral-900 dark:border-neutral-700">
						<a href="https://app.reclaim.ai/m/jayden-stewardship-ventures/new-consultation" target="_blank">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Book a virtual introduction</h5>
						</a>
						<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
							Get started on your software journey with a commitment free introduction call to assess fit and discuss your needs.
						</p>
						<a
							href="https://app.reclaim.ai/m/jayden-stewardship-ventures/new-consultation"
							target="_blank"
							class="inline-flex items-center transform transition-transform hover:scale-105 px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:ring-neutral-800">
							Find an avaliable slot
							<svg
								class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 10">
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M1 5h12m0 0L9 1m4 4L9 9">
								</path>
							</svg>
						</a>
					</div>
					<div class="max-w-lg p-6 border border-gray-200 rounded-lg shadow dark:bg-neutral-900 dark:border-neutral-700">
						<div class="flex gap-4 mb-4">
							<img src="/images/jayden.jpeg" alt="Profile Picture" class="w-24 h-24 rounded-lg" />
							<div>
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Jayden Harrod</h5>
								<h5 class="text-lg font-semibold tracking-tight text-gray-900 dark:text-white">Director & CTO</h5>
								<h5 class="text-md tracking-tight text-gray-900 dark:text-white">Stewardship Ventures</h5>
							</div>
						</div>
						<p class="mb-4 font-normal text-gray-700 dark:text-gray-400">
							A multifaceted background in marketing, operations, product, and engineering combines technical skills with a strategic
							business mindset and cultivates into over a decade of building digital business outcomes.
						</p>
						<a
							href="https://jayden.gg"
							target="_blank"
							class="inline-flex transform transition-transform hover:scale-105 items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:ring-neutral-800">
							More about Jayden
							<svg
								class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 10">
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M1 5h12m0 0L9 1m4 4L9 9">
								</path>
							</svg>
						</a>
					</div>

					<!-- <h2 class="text-3xl font-extrabold mb-8 text-gray-900 dark:text-gray-200 sm:text-4xl">Leave a Message</h2>
					<form
						action="https://usebasin.com/f/30ab27cba308"
						method="POST"
						class="max-w-md mx-auto bg-white dark:bg-gray-700 p-6 rounded-md border-2 border-gray-200 shadow-lg">
						<div class="mb-6">
							<label for="name" class="block text-gray-600 dark:text-gray-200 text-md font-medium mb-1">Name:</label>
							<input
								type="text"
								name="name"
								id="name"
								required
								class="w-full px-3 py-2 dark:text-gray-200 bg-gray-200 dark:bg-gray-600 border-gray-200 dark:border-gray-500 rounded-md focus:outline-none focus:border-neutral-500"
							/>
						</div>
						<div class="mb-6">
							<label for="email" class="block text-gray-600 dark:text-gray-200 text-md font-medium mb-1">Email:</label>
							<input
								type="email"
								name="email"
								id="email"
								required
								class="w-full px-3 py-2 dark:text-gray-200 bg-gray-200 dark:bg-gray-600 border-gray-200 dark:border-gray-500 rounded-md focus:outline-none focus:border-neutral-500"
							/>
						</div>
						<div class="mb-6">
							<label for="message" class="block text-gray-600 dark:text-gray-200 text-md font-medium mb-1">Leave a Message:</label>
							<textarea
								id="message"
								name="message"
								rows="5"
								cols="33"
								required
								class="w-full px-3 py-2 dark:text-gray-200 border bg-gray-200 dark:bg-gray-600 border-gray-200 dark:border-gray-500 rounded-md">
							</textarea>
						</div>
						<div>
							<button
								type="submit"
								class="text-gray-200
							bg-gradient-to-br
							from-green-400
							to-neutral-600
							hover:bg-gradient-to-bl
							focus:ring-4
							focus:outline-none
							focus:ring-green-200
							dark:focus:ring-green-800
							font-medium
							rounded-lg
							text-sm
							px-5
							w-full
							py-2.5
							text-center
							me-2
							mb-2">
								Submit
							</button>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</Container>
</Layout>
