---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingPlan from "@components/pricing.astro";

changeLanguage("en");

const pricingData = [
	{
		name: "Advisory CTO",
		price: "$3,500/m",
		features: [
			"5 hours / week",
			"Access to a seasoned technology leader",
			"We spend time to understand your business",
			"No equity loss or long-term commitments",
			"Monthly risk & recommendations report",
			"Save time & money avoiding mistakes",
			"Avaliable up to 4 hours of meetings",
			"Ask questions asycnchronously",
			"Get a second opinion",
			"Fully remote",
		],
		button: {
			text: "Get Started",
			link: "/contact",
		},
	},
	{
		name: "Fractional CTO",
		price: "$15,000/m",
		features: [
			"25 hours / week",
			"Includes 'Advising CTO'",
			"Assist operating functions",
			"Limit risk and libailities",
			"Provide progress reports",
			"Strategic thinking",
			"Manage delivery",
			"Manage people",
			"Tools & process",
			"Build capability",
		],
		button: {
			text: "Get Started",
			link: "/contact",
		},
	},
	{
		name: "Stewardship Development Team",
		price: "$30,000/m",
		features: [
			"Includes 'Fractional CTO'",
			"Shape Up operating model",
			"Web and/or Mobile",
			"+ Senior Designer",
			"+ Prinicpal Developer",
			"+ Full Stack Developer",
		],
		button: {
			text: "Get Started",
			link: "/contact",
		},
	},
	{
		name: "Stewardship Development Team Plus",
		price: "$40,000/m",
		features: ["Includes 'Fraction CTO'", "Increase key metrics", "+ SEO Audit", "+ Data Analysis", "+ Martech Developer"],
		button: {
			text: "Get Started",
			link: "/contact",
		},
	},
];
---

<Layout title="Stewardship Ventures - Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">Scale as needed to match your ambitions.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-2 gap-8 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <PricingPlan plan={item} />)}
		</div>
	</Container>
</Layout>
