---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

changeLanguage("en");
---

<Layout title="Stewardship Ventures - Technology Startup Consulting">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Technology Startup Consulting</Fragment>
			<Fragment slot="subtitle">Specific to Australian Technology Businesses</Fragment>
		</Sectionhead>
		<div class="relative mx-auto max-w-4xl">
			<div class="mx-auto prose prose-xl text-center dark:prose-invert mt-14">
				<p>
					We help non-technical <span class="underline">software founders</span> gain the discernment to execute a successful product &
					engineering operation. Own your outcomes!
				</p>
			</div>

			<div class="flex flex-col items-center md:flex-row mt-10">
				<div class="w-1/2 p-4 transition-transform hover:scale-105">
					<div
						class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
						<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">
							How do I go about build a product & engineering company?
						</p>
						<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
					</div>
				</div>

				<div class="w-1/2 p-4 transition-transform hover:scale-105 flex-row-reverse">
					<div
						class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
						<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">
							I'm moving development in-house, who should I hire first?
						</p>
						<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
					</div>
				</div>

				<div class="w-1/2 p-4 transition-transform hover:scale-105">
					<div
						class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
						<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">How do I manage my technology operation globally?</p>
						<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
					</div>
				</div>
				<div class="w-1/2 p-4 transition-transform hover:scale-105 flex-row-reverse">
					<div
						class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
						<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">
							Every sprint our customers raise more bugs and issues, help!
						</p>
						<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
					</div>
				</div>
			</div>

			<section id="greenfield" class="text-center mt-20 ring dark:ring-neutral-800 dark:bg-neutral-900 dark:text-gray-300 p-10 rounded-xl">
				<div class="mx-auto max-w-2xl text-center">
					<p class="text-3xl mb-2 font-bold tracking-tight sm:text-4xl">$150/hr</p>
					<p class="text-sm tracking-tight mb-10">AUD — excludes GST</p>
					<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Let's turn your product vision into reality.</p>
					<a
						href="https://app.cal.com/jayden"
						target="_blank"
						class="inline-flex items-center transform transition-transform hover:scale-105 px-3 py-2 mt-4 text-sm font-medium text-center text-white rounded-lg hover:bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-purple-700 dark:hover:bg-purple-700 dark:focus:ring-neutral-800">
						Book a call
						<svg
							class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9">
							</path>
						</svg>
					</a>
				</div>
			</section>
		</div>
	</Container>
</Layout>
