<section class="relative mx-auto max-w-4xl text-center mb-20 md:mb-60">
	<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-400 text-transparent bg-clip-text">
		Technology Consulting
	</p>
	<div class="mx-auto prose prose-xl text-center dark:prose-invert mt-14">
		<p>
			We help non-technical <span class="underline">software founders</span> gain the discernment to execute a successful product & engineering
			operation. Come with your questions and join a virtual 1:1 video call with a seasoned product & engineering leader.
		</p>
	</div>

	<div class="flex flex-col items-center md:flex-row mt-10">
		<div class="w-1/2 p-4 transition-transform hover:scale-105">
			<div class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
				<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">How do I go about build a product & engineering company?</p>
				<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
			</div>
		</div>

		<div class="w-1/2 p-4 transition-transform hover:scale-105 flex-row-reverse">
			<div class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
				<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">I'm moving development in-house, who should I hire first?</p>
				<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
			</div>
		</div>

		<div class="w-1/2 p-4 transition-transform hover:scale-105">
			<div class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
				<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">How do I manage my technology operation globally?</p>
				<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
			</div>
		</div>
		<div class="w-1/2 p-4 transition-transform hover:scale-105 flex-row-reverse">
			<div class="flex flex-col w-full leading-1.5 p-4 border-neutral-200 bg-neutral-100 rounded-e-xl rounded-es-xl dark:bg-neutral-700">
				<p class="text-sm font-normal py-2.5 text-neutral-900 dark:text-white">
					Every sprint our customers raise more bugs and issues, help!
				</p>
				<span class="text-sm font-normal text-neutral-500 dark:text-neutral-400">Delivered</span>
			</div>
		</div>
	</div>
</section>
