---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Executive CTO",
		description: "We can help you transition to a technology operating model that will scale your business profits.",
		icon: "bx:bxs-briefcase",
		url: "https://astro.build/",
	},
	{
		title: "Skilled Engineers",
		description: "Your business logic and data is a combined asset. We can help you build APIs and LLMs to leverage that data.",
		icon: "bx:bxs-file-find",
		url: "https://tailwindcss.com/docs/dark-mode",
	},
	{
		title: "Product Led",
		description: "We can optimise your business operations by building tools that automate repetitive internal tasks.",
		icon: "bx:bxs-bot",
		url: "https://github.com/yassinedoghri/astro-i18next",
	},
	{
		title: "AI, Web & Mobile",
		description:
			"Thinking of building a SaaS web app for your customers? We're experts in building websites and web applications using modern technologies.",
		icon: "bx:bxs-window-alt",
		url: "https://alpinejs.dev/",
	},
	{
		title: "Outcome Driven",
		description:
			"Thinking of building a SaaS mobile app for your customers? We know the limitations of mobile devices and how to architect apps that work well.",
		icon: "bx:bxs-data",
		url: "https://tailwindcss.com/",
	},
	{
		title: "Customer First",
		description: "We can be a sounding board for your ideas and help you make the right technology decisions.",
		icon: "bx:bxs-user",
		url: "https://giscus.app/",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:text-center mb-40">
		<p class="text-gray-400 mb-2 prose-md">Thinking About</p>
		<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-300 text-transparent bg-clip-text">
			Building a Software Product?
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			You've done the hard part. You've been running a business, community, or brand for years - acquiring customers, and have become an
			industry leader. Now, it's time to effortlessly grow your impact through a software asset.
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			At Stewardship Ventures, we're not your usual software development agency. We choose only a select few ventures each year. We take a
			personal approach to help you develop your business operations to support your new software asset, acting as your part-time Chief
			Technology Officer (CTO).
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			Our development team then creates a product with a focus on the customer. We believe that the future of successful software products won't
			require millions in investment funding or millions in operating costs. We focus on product excellence partnered with your established
			customer base as a distribution engine towards profitability. The result is a frugal runway, faster profitability, less hassle, and with
			greater ownership than a typical startup.
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			Think of us as your CTO, software agency, and angel investor all-in-one.
		</p>
	</div>
	<div class="mx-auto max-w-2xl lg:text-center">
		<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-300 text-transparent bg-clip-text">
			More Than a Software Agency
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			We team up with existing businesses to bring together proven distribution vehicles, outcome operating models, and product excellence. We
			seek to understand your industry and put your customers at the heart of the solution. We firmly believe our <span
				class="italic text-gray-400">
				product-led
			</span>
			 approach is a fraction of the time & cost of an internal team or hiring a typical software agency whilst seeking profitability.
		</p>
	</div>
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-8">
		<dl class="grid max-w-xl grid-cols-1 gap-x-6 gap-y-12 text-center lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-gray-200">
							<div class="h-5 w-5 flex-none text-black dark:text-gray-200">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
					</div>
				))
			}
		</dl>
	</div>
</div>
