---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Interim CTO",
		description: "We can help you transition to a technology operating model that will scale your business profits.",
		icon: "bx:bxs-briefcase",
		url: "https://astro.build/",
	},
	{
		title: "Data Capability",
		description: "Your business logic and data is a combined asset. We can help you build APIs and LLMs to leverage that data.",
		icon: "bx:bxs-file-find",
		url: "https://tailwindcss.com/docs/dark-mode",
	},
	{
		title: "Internal Tooling",
		description: "We can optimise your business operations by building tools that automate repetitive internal tasks.",
		icon: "bx:bxs-bot",
		url: "https://github.com/yassinedoghri/astro-i18next",
	},
	{
		title: "Web Development",
		description:
			"Thinking of building a SaaS web app for your customers? We're experts in building websites and web applications using modern technologies.",
		icon: "bx:bxs-window-alt",
		url: "https://alpinejs.dev/",
	},
	{
		title: "Mobile Development",
		description:
			"Thinking of building a SaaS mobile app for your customers? We know the limitations of mobile devices and how to architect apps that work well.",
		icon: "bx:bxs-data",
		url: "https://tailwindcss.com/",
	},
	{
		title: "Advice & Guidance",
		description: "We can be a sounding board for your ideas and help you make the right technology decisions.",
		icon: "bx:bxs-user",
		url: "https://giscus.app/",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:text-center mb-40">
		<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-300 text-transparent bg-clip-text">
			Starting A Software Company?
		</p>
		<p class="text-gray-400 mt-2 prose-md">An Overnight Success?</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			You've been running your business or community, gaining customers, and making it profitable for a while. Now, it's time to effortlessly
			grow your impact and profits in your business model through a software asset.
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			We've been in the software game for a long time, creating and growing SaaS products. We know our industry and want to team up with
			businesses like yours to launch a software product that starts making money from day one.
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			At Stewardship Ventures, we're not just your typical software company. We believe in building strong partnerships with our clients,
			focusing on creating products that solve real problems. We establish a long-term relationship with you, by becoming part of your executive
			team as a fractional CTO, and help you grow a profitable software business to keep or exit to the moon.
		</p>
	</div>
	<div class="mx-auto max-w-2xl lg:text-center">
		<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-300 text-transparent bg-clip-text">
			What Sets Us Apart
		</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			Stewardship Ventures assists existing businesses in creating software solutions that put their customer at the heart of the solution,
			leading to greater impact and profits. We work with you as an interim executive CTO to give you access to seasoned technology leadership
			at a fraction of the cost.
		</p>
	</div>
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24">
		<dl class="grid max-w-xl grid-cols-1 gap-x-6 gap-y-12 text-center lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-gray-200">
							<div class="h-5 w-5 flex-none text-black dark:text-gray-200">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
					</div>
				))
			}
		</dl>
	</div>
</div>
