---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Interim CTO",
		description: "We can help you transition to a technology operating model that will scale your business profits.",
		icon: "bx:bxs-briefcase",
		url: "https://astro.build/",
	},
	{
		title: "Data Capability",
		description: "Your business logic and data is a combined asset. We can help you build APIs and LLMs to leverage that data.",
		icon: "bx:bxs-file-find",
		url: "https://tailwindcss.com/docs/dark-mode",
	},
	{
		title: "Internal Tooling",
		description: "We can optimise your business operations by building tools that automate repetitive internal tasks.",
		icon: "bx:bxs-bot",
		url: "https://github.com/yassinedoghri/astro-i18next",
	},
	{
		title: "Web App Development",
		description:
			"Thinking of building a SaaS web app for your customers? We're experts in building websites and web applications using modern technologies.",
		icon: "bx:bxs-window-alt",
		url: "https://alpinejs.dev/",
	},
	{
		title: "Mobile App Development",
		description:
			"Thinking of building a SaaS mobile app for your customers? We know the limitations of mobile devices and how to architect apps that work well.",
		icon: "bx:bxs-data",
		url: "https://tailwindcss.com/",
	},
	{
		title: "Advice",
		description: "We can be a sounding board for your ideas and help you make the right technology decisions.",
		icon: "bx:bxs-user",
		url: "https://giscus.app/",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:text-center">
		<p class="text-3xl font-bold tracking-tight text-black dark:text-gray-200 sm:text-4xl">What Sets Us Apart</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-200">
			Stewardship Ventures assists existing businesses in creating software solutions that solve their customer's issues, leading to greater
			impact and profits. We work with you as your interim CTO, building a durable product.
		</p>
	</div>
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
		<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-gray-200">
							<div class="h-5 w-5 flex-none text-black dark:text-gray-200">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
						<dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900 dark:text-gray-200">
							<p class="flex-auto">{t(item.description)}</p>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
