---
import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { Image } from "astro:assets";
---

<div class="mx-auto max-w-7xl pt-24">
	<div class="mx-auto max-w-2xl text-center">
		<h1 class="text-4xl font-bold tracking-tight bg-gradient-to-b from-neutral-100 to-neutral-400 text-transparent bg-clip-text sm:text-6xl">
			We Build Wonderful Software Products
		</h1>
		<h2 class="mt-6 text-xl leading-8 bg-gradient-to-b from-gray-200 to-gray-500 text-transparent bg-clip-text">On Demand Startup Consultants</h2>
		<div class="flex justify-center items-center md:items-start gap-4 mt-5">
			<div class="flex justify-center items-center md:items-start -space-x-5 gap-1">
				<img
					src="https://media.licdn.com/dms/image/D560BAQGBvAJBiaodCA/company-logo_100_100/0/1688107526346/digivizer_logo?e=1712793600&v=beta&t=V8NbhFIRta80YkdolEUJANMBaGUiwB3CAcqRYd7cCSk"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
				<img
					src="https://media.licdn.com/dms/image/C560BAQHufSdWD9UuRg/company-logo_100_100/0/1631425705957/topbetta_logo?e=1712793600&v=beta&t=gSpombMa7_yQHg26WpX8a4v6JMvy5aDbvLVK0N8Z4vI"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
				<img
					src="https://media.licdn.com/dms/image/C560BAQFXbNL32lHEQA/company-logo_100_100/0/1630596678623/mudbath__co_logo?e=1712793600&v=beta&t=ScykHFCUnEWlE2efqWnI7ETnemh03tYM7fTFB8JMbiI"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
				<img
					src="https://media.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_100_100/0/1630652622688/microsoft_logo?e=1712793600&v=beta&t=xO2nbmhkDQGnayAZFXXT_TPdo_S3HZkyHLNNZza09LE"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
				<img
					src="https://media.licdn.com/dms/image/C560BAQH5uqGpoDcCBA/company-logo_100_100/0/1647140808955/hipagesgroup_logo?e=1712793600&v=beta&t=W7c1K7Cg3glmVnB6akl0DCffDkBHr9wywtJt4wCRyZ4"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
				<img
					src="https://media.licdn.com/dms/image/D560BAQEfimRcuLHISQ/company-logo_100_100/0/1682309473344/camplify_logo?e=1712793600&v=beta&t=qK6A8e2hpJK74L8LF8LOywh9Dydw6hncr0irtLfZqy0"
					class="rounded-full w-10 h-10 border-2 border-gray-900 transition-transform hover:scale-105"
				/>
			</div>
		</div>
		<div class="flex justify-center items-center mt-4 md:mt-8">
			<Image class="inline-block mt-12 md:mt-20" src={abstractDottedGlobeIllustration} alt="Astros" width={600} height={600} loading="eager" />
		</div>
	</div>
</div>
