---
import Link from "@components/ui/link.astro";
import abstractDottedGlobeIllustration from "assets/abstract-dotted-globe-illustration.png";
import { Image } from "astro:assets";
import Companies from "./companies.astro";
---

<div class="mx-auto max-w-7xl pt-24">
	<div class="mx-auto max-w-2xl text-center">
		<h1 class="text-4xl font-bold tracking-tight bg-gradient-to-b from-neutral-100 to-neutral-400 text-transparent bg-clip-text sm:text-6xl">
			We Build Wonderful Software Products
		</h1>
		<h2 class="mt-6 text-xl leading-8 bg-gradient-to-b from-gray-200 to-gray-500 text-transparent bg-clip-text">
			Freelance Australian Staff Software Engineer
		</h2>
		<Companies />
		<div class="flex justify-center items-center mt-4 md:mt-8">
			<Image class="inline-block mt-12 md:mt-20" src={abstractDottedGlobeIllustration} alt="Astros" width={600} height={600} loading="eager" />
		</div>
	</div>
</div>
