---
import { localizePath } from "astro-i18next";

interface Props {
	href: string;
	size?: "xs" | "sm" | "md" | "lg";
	block?: boolean;
	style?: "outline" | "primary" | "hover" | "muted";
	class?: string;
	[x: string]: any;
}

const { href, block, size = "md", style = "primary", class: className, ...rest } = Astro.props;

const sizes = {
	xs: "",
	sm: "px-3 py-1.5",
	md: "px-4 py-2.5",
	lg: "px-5 py-2.5",
};

const styles = {
	outline:
		"text-center border outline-2 transition-colors border-gray-500 text-gray-900 dark:text-gray-200 hover:border-gray-400 dark:text-gray-200 active:outline dark:hover:bg-dark dark:hover:border-white dark:hover:text-gray-200",
	primary:
		"text-center bg-neutral-900 outline-2 dark:bg-neutral-800 hover:bg-neutral-800 dark:hover:bg-neutral-800 focus-visible:bg-neutral-900 dark:focus-visible:bg-gray-900 text-gray-200 dark:text-white border-transparent  shadow-sm",
	muted: "text-sm font-semibold leading-6 text-gray-800 dark:text-gray-200",
	hover: "text-center focus:outline-none text-gray-200",
};
---

<a
	href={href.startsWith("http") ? href : localizePath(href)}
	style={{ zIndex: 1000 }}
	{...rest}
	class:list={[
		"rounded-md text-sm font-semibold transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2",
		block && "w-full",
		sizes[size],
		styles[style],
		className,
	]}>
	<slot />
</a>
